{% extends 'base.html.twig' %}

{% block title %}CONTACT US{% endblock %}

{% block body %}

{{ include('partials/flash.html.twig') }}
<div class="example-wrapper">
    {{form(form)}}

</div>
{% endblock %}
